body{
    background: gray;
    font-family: Arial;
}

.container{
    background: white;
    width: 300px;
    padding: 10px;
}

input{
    width: 150px;
    margin: 3px;
}

button{
    background: blue;
    color: white;
}

h1{
    color: black;
}

p{
    color: red;
}
